#Mac
.DS_Store

#Windows
Thumb.db

#Flash Builder
.actionScriptProperties
.flexProperties
.flexLibProperties
.project
.settings

#Flashdevelop
*.as3proj
obj/*

#Output folders
bin/*
bin-debug/*
bin-release/*
bin-release-temp/*
bin-test/*